body {
	background: #1c2e4a;
}

div {
	font-family: "Century Gothic", sans-serif;
	color: white;
}

.divider {
	height: 20vh;
}

.divider-1 {
	height: 30vh;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

h1#title {
	font-size: 44px;
	font-weight: 700;
}

h3 {
	font-weight:700;
}

p {
	font-size:14px;
}

.bolded {
	font-weight:700;
	color: yellow;
}

.bolded-2 {
	font-size:14px;
	font-weight:700;
	color: white;
}

.bolded-3 {
	font-weight:700;
	color: yellow;
}

.paragraph {
	height: 100vh;
	padding-top:2vw;
	padding-left:2vw;
	padding-right:2vw;
	text-align: justify;
}

.align-left {
	text-align: left;
}

.intro-paragraph {
	text-align: justify;
	padding-left:25vw;
	padding-right:25vw;
}

.ending-paragraph {
	text-align: justify;
	padding-left:25vw;
	padding-right:25vw;
	height: 90vh;
}

#openingTitle {
	height: 100vh;
	text-align: center;
}

#openingImg {
	height:100vh;
	top: 0px;
}

#title {
	padding-top: 22%;
	padding-left: 20vw;
    padding-right: 20vw;
	top: 0px;
	position: absolute;
	z-index: 100;
}

#my-map-div {
    position: relative;
	height: 100vh;
    text-align: center;
}

#slider-bar-step {
	position: relative;
	padding-left: 10vw;
}

.countryArea {
    stroke-linejoin: round;
}

.my-map-tooltip {
    font-family: "Century Gothic", CenturyGothic, sans-serif;
    font-size: 12px;
	color: black;
    position: absolute;
    text-align: center;
    width: 80px;
    background: #ffffff;
    border: 0px;
    padding: 4px;
    pointer-events: none;
}

#flowingbubbles {
	height: 100vh;
}

ul {
	font-size: 14px;
	text-align: left;
	padding-left: 1vw;
	padding-right: 1vw;
}

#my-chord-div {
	height: 100vh;
	position: relative;
    text-align: center;
}

#my-coral-div {
    position: relative;
    width: 100%;
    text-align: center;
}

a {
	font-size:14px;
	color: #add8e6;
}

a:hover {
	font-size:14px;
	color: orange;
}

#endingImg {
	opacity: 40%;
    width: 110%;
	text-align:center;
}

